".source.js":
  "Angular App Module":
    "prefix": "angapp"
    "body":"""
      (function() {
        'use strict';

        angular.module('${1:app}', [
          $2
        ]);

      })();
    """

  "Angular Module":
    "prefix": "angmod"
    "body": """
      (function() {
        'use strict';

        angular.module('${1:module}', [$2]);

      })();
    """
  "Angular Constant":
    "prefix": "angconst"
    "body": """
      (function() {
        'use strict';

          angular
              .module('${1:app}')
              .constant('${2:myConstant}', ${3:'value'})$4;

      })();
    """

  "Angular Controller":
    "prefix": "angcon"
    "body": """
      (function() {
        'use strict';

        angular
          .module('${1:app}')
          .controller('${2:MyController}',${2: MyController});

          ${2:MyController}.$inject = [${3:'$scope'}];

        function ${2:MyController}(${3:$scope}){

          /*jshint validthis: true */
          var vm = this;

          activate();

          ////////////////////////////

          function activate(){
            $4
          }

        }

      })();
    """

  "Angular Factory":
    "prefix": "angfact"
    "body": """
      (function() {
        'use strict';

        angular
          .module('${1:app}')
          .factory('${2:myfactory}', ${2:myfactory});

        ${2:myfactory}.$inject = [${3:'$http'}];

        function ${2:myfactory}(${3:$http}){

          var service = {
            ${4:getIndex}: ${4:getIndex}
          };

          return service;

          ////////////////////////////

          function ${4:getIndex}(){
            $5
          }

        }

      })();
    """

  "Angular Filter Ng-Repeat":
    "prefix": "angfiltng"
    "body": """
      (function() {
        'use strict';

        angular
          .module('${1:app}')
          .filter('${2:myFilter}', ${2:myFilter});

        ${2:myFilter}.$inject = [${3:'$dataservice'}];

        function ${2:myFilter}(${3:dataservice}){

          return function(${4:obj},${6:val}){
            var filtered = [];
              angular.forEach(${4:obj}, function(${5:item}) {
                if(${5:item} == ${6:val}){
                  filtered.push(${5:item});
                }
              });
            return filtered;
          };
        }

      })();
    """

  "Angular Filter":
    "prefix": "angfilt"
    "body": """
      (function() {
        'use strict';

        angular
          .module('${1:app}')
          .filter('${2:myFilter}', ${2:myFilter});

        ${2:myFilter}.$inject = [${3:'$dataservice'}];

        function ${2:myFilter}(${3:dataservice}){

          return function(${4:val}){

            $5

            return ${4:val};

          };
        }

      })();
    """

  "Angular Service":
    "prefix": "angserv"
    "body": """
      (function() {
        'use strict';

        angular
          .module('${1:app}')
          .service('${2:myservice}', ${2:myservice});

        ${2:myservice}.$inject = [${3:'$http'}];

        function ${2:myservice}(${3:$http}){

          /*jshint validthis: true */
          var svc = this;

          svc.${4:getIndex} = ${4:getIndex};

          ////////////////////////////

          function ${4:getIndex}(){
            $5
          }

        }

      })();
    """

  "Angular Directive":
    "prefix": "angdir"
    "body": """
      (function() {
        'use strict';

        angular
          .module('${1:app}')
          .directive('${2:myDirective}', ${2:myDirective});

        ${2:myDirective}.$inject = [${3:'dataservice'}];

        function ${2:myDirective}(${3:dataservice}){
          // Usage: ...
          var directive = {
            restrict: '${4:ACE}',
            templateUrl: '${5:templateUrl}',
            scope: {
            },
            link: link
          };
          return directive;

          ////////////////////////////

          function link(scope, element, attrs){
            $6
          }

        }

      })();
    """

  "Angular Directive w/ Controller":
    "prefix": "angdirc"
    "body": """
      (function() {
        'use strict';

        angular
          .module('${1:app}')
          .directive('${2:myDirective}', ${2:myDirective});

        function ${2:myDirective}(){

          var directive = {
            restrict: '${3:ACE}',
            templateUrl: '${4:templateUrl}',
            scope: {
            },
            link: link,
            controller: '${5:myController}',
            controllerAs: 'vm',
            bindToController: true
          };
          return directive;

          ////////////////////////////

          function link(scope, element, attrs, vm){
            $6
          }

        }

      })();
    """
